.changeWidth {
  position: relative;
  height: 400px;
  width: 100% !important;

}
.player {
  position: fixed;
  z-index: 1000; 
  width: 100% !important;
}

.all-music {
  height: 100vh;
}
.all-music .card {
  background-color: #141414;
  color: white;
}

@media only screen and (min-width: 320px) {
  .player {
    width: auto !important;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .player {
    width: auto !important;
  }
}
